# Pandas Interview Questions

In [9]:
%pip install pandas

Requirement already satisfied: pandas in /home/hossein/Documents/Coding/Analytics/interview-resources/.venv/lib64/python3.11/site-packages (2.1.1)
ERROR: Could not find a version that satisfies the requirement sqlite (from versions: none)
ERROR: No matching distribution found for sqlite

[notice] A new release of pip available: 22.3.1 -> 23.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
import sqlite3

## Beginner ‚≠ê

### Retrieve Data:
- **Chinook**: Retrieve the names of all albums.

In [18]:
with sqlite3.connect("chinook.db") as db_connection:
        tables = list(pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", db_connection)['name'])
        out = {tbl : pd.read_sql_query(f"SELECT * from {tbl}", db_connection) for tbl in tables}

print(tables)
print(out)

[]
{}