# Pandas Interview Questions

In [20]:
%pip install pandas

Requirement already satisfied: pandas in /home/hossein/Documents/Coding/Analytics/interview-resources/.venv/lib64/python3.11/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in /home/hossein/Documents/Coding/Analytics/interview-resources/.venv/lib64/python3.11/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hossein/Documents/Coding/Analytics/interview-resources/.venv/lib64/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/hossein/Documents/Coding/Analytics/interview-resources/.venv/lib64/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/hossein/Documents/Coding/Analytics/interview-resources/.venv/lib64/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/hossein/Documents/Coding/Analytics/interview-resources/.venv/lib64/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
import sqlite3

## Beginner ⭐

In [23]:
with sqlite3.connect("chinook.db") as db_connection:
        tables = list(pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", db_connection)['name'])
        data = {tbl : pd.read_sql_query(f"SELECT * from {tbl}", db_connection) for tbl in tables}

### Retrieve Data:
- **Chinook**: Retrieve the names of all albums.

In [24]:
print(tables)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

In [28]:
data['Album'].Title.head()

0    For Those About To Rock We Salute You
1                        Balls to the Wall
2                        Restless and Wild
3                        Let There Be Rock
4                                 Big Ones
Name: Title, dtype: object

### Filtering Data:
- **Chinook**: Find tracks that belong to the 'Jazz' genre.

In [30]:
data['Genre']

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

In [39]:
TrackGenre_df = data['Track'].merge(data['Genre'], left_on='GenreId', right_on='GenreId' , how='inner')
TrackGenre_df.head()

,TrackId,Name_x,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,Name_y
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,Rock
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,Rock
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99,Rock
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99,Rock
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99,Rock

In [40]:
TrackGenre_df[TrackGenre_df.Name_y=='Jazz']

,TrackId,Name_x,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,Name_y
1297,63,Desafinado,8,1,2,None,185338,5990473,0.99,Jazz
1298,64,Garota De Ipanema,8,1,2,None,285048,9348428,0.99,Jazz
1299,65,Samba De Uma Nota Só (One Note Samba),8,1,2,None,137273,4535401,0.99,Jazz
1300,66,Por Causa De Você,8,1,2,None,169900,5536496,0.99,Jazz
1301,67,Ligia,8,1,2,None,251977,8226934,0.99,Jazz
...,...,...,...,...,...,...,...,...,...,...
1422,2530,Little Linda,204,1,2,Jeremy Wall,264019,8958743,0.99,Jazz
1423,2531,End Of Romanticism,204,1,2,Rick Strauss,320078,10553155,0.99,Jazz
1424,3349,Amanda,262,5,2,Luca Gusella,246503,4011615,0.99,Jazz
1425,3350,Despertar,262,5,2,Andrea Dulbecco,307385,4821485,0.99,Jazz
1426,3357,OAM's Blues,267,5,2,Aaron Goldberg,266936,4292028,0.99,Jazz

In [52]:
Genre_df = data['Genre']
jazz_genre_id = int(Genre_df[Genre_df.Name=='Jazz'].GenreId.iloc[0])
print(jazz_genre_id)
Track_df = data['Track']
Track_df[Track_df.GenreId==jazz_genre_id]

2

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
62,63,Desafinado,8,1,2,None,185338,5990473,0.99
63,64,Garota De Ipanema,8,1,2,None,285048,9348428,0.99
64,65,Samba De Uma Nota Só (One Note Samba),8,1,2,None,137273,4535401,0.99
65,66,Por Causa De Você,8,1,2,None,169900,5536496,0.99
66,67,Ligia,8,1,2,None,251977,8226934,0.99
...,...,...,...,...,...,...,...,...,...
2529,2530,Little Linda,204,1,2,Jeremy Wall,264019,8958743,0.99
2530,2531,End Of Romanticism,204,1,2,Rick Strauss,320078,10553155,0.99
3348,3349,Amanda,262,5,2,Luca Gusella,246503,4011615,0.99
3349,3350,Despertar,262,5,2,Andrea Dulbecco,307385,4821485,0.99
3356,3357,OAM's Blues,267,5,2,Aaron Goldberg,266936,4292028,0.99